ul:first-child {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .top_navbar li {
    float: left;
  }
  
  .top_navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .top_navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }

.intro {
    border-radius: 10px;
    background: black;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.wrestling {
    border-radius: 10px;
    background: lightblue;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.skills {
    border-radius: 10px;
    background: black;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.ulskills {
    border-radius: 10px;
    background: lightblue;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.ulworks {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    background: lightblue;
    border-radius: 10px;
}

.works {
    border-radius: 10px;
    background: black;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.ullived {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-end;
    background: lightblue;
    border-radius: 10px;
}

.lived {
    border-radius: 10px;
    background: black;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;  
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

h2 {
    border-radius: 10px;
    background: gray;
    padding: 12px 20px;
}

h1 {
    border-radius: 10px;
    background: goldenrod;
    padding: 35px 20px;
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTtuXrS2TIlxj9OD6GjqfjOx1y8e7H61MSBqZPREQog-CndtW-VA");
    background-size: cover;
}

.collaborators {
    border-radius: 10px;
    background: black;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.ulcollaborators {
    background: lightblue;
    border-radius: 10px;
    padding: 6px 10px;
}

.awards {
    border-radius: 10px;
    background: black;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.ulawards {
    background: lightblue;
    border-radius: 10px;
    padding: 6px 10px
}